<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/public/css/base.css" />
        {% block css %}{% endblock %}
    </head>
    <body>
        {% if loggedUser is defined %}
            <div class="menu">
                Hi, {{ loggedUser.login }}!
                <a class="menu button logout" title="Logout" href="/?action=logout">Log out</a>
            </div>
        {% endif %}
        {% for type, message in flash %}
            <div class="{{ type }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </body>
</html>
