* {
    font-family: sans-serif;
}

.caption {
    border: 2px solid #dddddd;
    border-radius: 5px 5px 0px 0px;
    background: #ededed;
    padding: 10px;
    text-align: left;
}

.panel {
    border-radius: 0px 0px 5px 5px;
}

.wide {
    width: 90%;
}

.medium {
    width: 50%;
}

.panel-content {
    border: 2px solid #dddddd;
    border-top: none;
    padding: 10px;
}

.success {
    border-radius: 2px;
    padding: 10px;
    width: 88%;
    background: #e9f0d8;
    color: #44792f;
    margin-bottom: 2em;
}

.menu {
    padding-bottom: 10px;
    text-align: right;
}

.menu .button {
    background-color: #dddddd;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;    
}
